
	<style>
		.alert {
			background: green;
			padding: 1rem;
			border-radius: 5px;
			color: white;
			margin: 1rem;
		}
	</style>
</head>

<body>
	<div class="container">
		<h3>Login</h3>
	</div>
   <div class="container">
      <form action="/confirm-login" method="POST">
        <label for="Username">Username</label>
        <input
          type="text"
          placeholder="Username"
          class="u-full-width"
          name="username"
        />
        <label for="Password">Password</label>
        <input
          type="text"
          placeholder="Password"
          class="u-full-width"
          name="password"
        />
        </div>
</body>
<button onclick="window.location.reload()" id="myButton" >Login</button>

</html>
